<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/jquery.poptrox.modified.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/browser.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/util.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/exif.min.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/main.min.js" defer></script>
